<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <form action="/animals/<%=animal._id%>?_method=PUT" method="post">
          <fieldset>
              <legend>Edit <%=animal.animalType%></legend>
            <label>
              NAME:<input
                type="text"
                name="animalType"
                value="<%=animal.animalType%>"
                placeholder="enter animal name"
              />
            </label>
            <label>
              Species:<input
                type="text"
                name="species"
                value="<%=animal.species%>"
                placeholder="enter animal species"
              />
            </label>
            <label>
              Extinct:<input type="checkbox" name="extinct" <%=
              animal.extinct ? "checked" : "" %> />
            </label>
            <label>
                Location:<input
                  type="text"
                  name="location"
                  value="<%=animal.location%>"
                  placeholder="enter location found"
                />
              </label>
              <label>
                Life Expectancy:<input
                  type="text"
                  name="lifeExpectancy"
                  value="<%=animal.lifeExpectancy%>"
                  placeholder="enter average life span"
                />
              </label>
              <label>
                Image Link:<input
                  type="text"
                  name="img"
                  value="<%=animal.img%>"
                  placeholder="enter image url"
                />
              </label>
          </fieldset>
          <input type="submit" value="Update <%=animal.animalType%> " />
        </form>
      </div>
    </main>
  </body>
</html>